@import url(style.css);

.footerBack{
    background-color: #3A894B;
}

.footerWrapper {
    max-width: 1000px;
    margin: 0 auto;
    color: #fff;
}

.nav_footer ul{
    display: flex;
    justify-content: space-around;
}

.nav_footer ul li{
    width: 50%;
}

.nav_footer ul li a{
    display: block;
    padding: 1rem;
    text-align: center;
}

.nav_footer ul li a:hover{
    text-decoration: underline;
}

.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.mail a:hover{
    text-decoration: underline;
}

.SNS{
    display: flex;
}

.SNS a{
    width: 3rem;
    margin: 0 0.5rem;
}

.SNS a img{
    width: 100%;
}

.copy{
    font-size: 0.75rem;
    padding:  10px 0 10px;
    text-align: center;
}