#logo {
    width: 200px;
    margin: 0 auto;
    padding: 20px 0 20px;
}

#navigationTop{
    background-color: #3A894B;
}

#navigationTop ul{
    max-width: 1240px;
    display: flex;
    margin: 0 auto;
}

header nav ul li{
    width: 50%;
    text-align: center;
    
    border-right: 2px solid #ddd;
}

/*最初のリストだけ左にボーダーをつける*/
header nav ul li:first-child{
    border-left: 2px solid #ddd;
}

header nav ul li a{
    display: block;
    color: #fff;

    margin: 15px 0 15px;

    font-size: large;
    font-weight: bold;
}