@charset "UTF-8";
@import url(/css/reset.css);

html
{
    font-size: 105%;
    line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1rem;
}

body{
    font-family: "YakuHanJPs", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
}

.mainBack{
    background-color: #dddddd;
    min-height: 100vh;
}

.mainWrapper{
    width: 1000px;
    max-width:100%;
    margin: 0 auto;
}

.content{
    background-color: #fff;
    padding: 1.5rem;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
	html {
        font-size: 75%;
    }
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    html {
        font-size: 62.5%;
    }
}