#UnityRoom{
  display: flex;
  
  width: 100%;
  min-height: 30px;

  border: solid 2px #000;       /* 枠線指定 */
  border-radius: 10px;            /* 角丸指定 */
  
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#UnityRoom img{
  width: 100px;
  height: 100px;
}