@import url(/games/games.css);

.info {
    display: flex;
}

.info .element{
    width: 100%;
    padding: 0 1rem;
}

.credit ul{
    list-style-type: disc;
    padding-left: 1rem;
}

.release details{
    font-size: 1rem;
    padding: 0 0 0 1rem;
    background-color: #fff;
    cursor: pointer;
    border: #80BD8D 2px solid;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.release details summary{
    font-weight: bold;
}

.release details ul{
    list-style-type: disc;
    padding: 0.5rem 0 0.5rem 1.3rem;
}

@media screen and (max-width: 480px){
    .info{
        display: block;
    }

    .info .element{
        padding: 0;
    }

    .release details{
        padding: 1rem;
    }
}
