@import url(/css/index.css);

.title {
    position: relative;
    background-color: #efefef;
    padding: 1rem 2rem;
}

@media screen and (max-width: 480px) {
    .title {
        position: initial;
        text-align: center;
        background-color: #efefef;
        padding: 0;
    }
}

.title .icon{
    position: absolute;
    top: 1rem;
    right: 2rem;
    
    width: 10%;

    object-fit: cover;
    border-radius: 0.5rem;
}

@media screen and (max-width: 480px) {
    .title .icon{
        position: initial;
        width: 5rem;
    }
}

.title .play{
    text-align: center;
    padding: 1rem 0;
}

.play .links {
    display: flex;
    align-items: center;
}

.play .links a {
    display: block;
    height: 4rem;
    margin: 0 1rem;
}

.play .links a img{
    object-fit: contain;
    height: 100%;
}

.play .links a .platform{
    font-weight: bold;
}

#UnityRoom {
    display: inline-flex;
    border: solid 6px #000;
    border-radius: 0.5rem;
}

#UnityRoom  img{
    padding: 0.25rem;
}

#control table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#control table th,table td{
    padding : 10px 10px;
}

#control table tr:nth-child(odd){
    background-color: #eee
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    .play .links {
        display: block;
        align-items: normal;
    }

    .links img{
        width: 100%;
    }
}