@import url(/css/index.css);

.title {
    position: relative;
    background-color: #efefef;
    padding: 1rem 2rem;
}

.title .icon{
    position: absolute;
    top: 1rem;
    right: 2rem;
    
    width: 10%;

    object-fit: cover;
    border-radius: 0.5rem;
}

.title .play{
    text-align: center;
}

.play .links {
    display: flex;
    align-items: center;
}

.play .links a{
    width: 25%;
}

.play .links a .platform{
    font-weight: bold;
}

#UnityRoom {
    display: inline-flex;
    border: solid 6px #000;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

#control table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#control table th,table td{
    padding : 10px 10px;
}

#control table tr:nth-child(odd){
    background-color: #eee
}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    .play .links {
        display: block;
        align-items: normal;
    }

    .links img{
        width: 100%;
    }
}