@import url(/css/index.css);

/* ゲーム紹介 */
.title_decoration{
    width: 300px;
    background: #59b4c2;
    color: #fff;
    margin: 0 auto;

    transform: skew(-15deg);
}

.title_decoration .title{
    text-align: center;
    font-weight: bold;
    font-size:  24px;
    
    transform: skew(15deg);
}

.games{
    margin: 0 auto;
}

.elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.year{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.year h1{
    position: relative;     /*相対位置*/
    line-height: 1.4;       /*行高*/
    font-size: 2rem;

    padding: 0 2rem 0;
    margin-bottom: 0;       /*下の余白をなくす*/
}

.year h1::before{
    font-weight: bold;
    font-size: 1.4em;   /*サイズ*/
    margin-left: 0.2em; /* 文字との余白 */
}

.year h1::after{
    background-color: #a5c264; /* 横線の色 */
    content: "";
    height: 0.2rem; /* 横線の高さ */
    align-items: center; /* 横線を上下中央 */
    display: flex; /* 文字と横線を横並び */
}


.element{
    text-align: center;
    max-width: 200px;
    margin: 30px 20px 40px;
}


.element img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.element .title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
}

.element a{
    background: #59b4c2;
    color: #fff;
    padding: 15px 20px 15px;
}

/*プロフィール*/
#profile .title_decoration{
    margin: 0 auto;
    width: 300px;
    background: #a5c264;
    color: white;
    transform: skew(-15deg);
}

#profile .title_decoration .title{
    text-align: center;
    font-weight: bold;
    font-size:  24px;
    transform: skew(15deg);
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile .icon{
    max-width: 35%;
}

.profile .icon img{
    border-radius: 50%;
    border: solid 0.25rem #000000;
}

.profile .profile_description{
    max-width: 65%;
}

/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {

}

/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    .profile{
        display: block;
        margin: 0 auto;
    }

    .profile .icon{
        max-width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .profile .profile_description{
        max-width: 100%;
    }
}