header{
  width: 50%;
  display: flex;
  margin: 0 auto;
}

header #mobileMenu{
  display: none;
}

#desktopMenu ul{
  display:flex;
}
#desktopMenu ul li {
  display: inline-block;
  min-width: 100px;
  min-height: 50px;
  
  background-color: green;
  border-radius: 5px;

  margin:2px;
}
#desktopMenu ul li a{
  display: block;
  line-height: 3; /*３分の１*/
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.container{
  display: flex;
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.main{
  margin-left: 0;
  margin-right: auto;
  width: 70%;
}

.side{
  margin-right: 0;
  margin-left: auto;
  width: 30%;
  height: auto;
}

footer{
  background-color: rgb(75, 75, 75);
  padding: 15px 0px 10px 0px;

  width: 100%;
  text-align: center; /*中央に固定*/
}
footer a{
  color: white;
  text-decoration:none ;
  font-weight: bold;
}

footer #copyright p{
  color: white;
}

/*スクリーン半分*/
@media screen and (max-width: 1000px) {
  .container{
    width: 90%;
  }
}

/*スマホ*/
@media screen and (max-width: 480px) {

  header #desktopMenu{
    display: none;
  }

  header #mobileMenu{
    display: block;
  }

  .container{
    width: 100%;
  }

  .main{
    width: 100%;
  }

  .side{
    display: none;
  }
}