.Profile{
    height: auto;                 /* 高さ指定 */
    background-color: white;    /* 背景色指定 */
}

#icon{
    width: 130px;
    height: 130px;
    border: solid 2px #000;       /* 枠線指定 */
    border-radius: 100px;           /* 角丸指定 */
}