@charset "UTF-8";
@import url(/css/index.css);

.pp_title{
    text-align: center;
}

.pp_title .title {
    font-weight: bold;
    font-size:  28px;
    margin: 20px 0 20px;
    position: relative;
    display: inline-block;
    padding: 0 55px;
}

.pp_title .title:before, .pp_title .title:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
}

.pp_title .title:before {
    left:0;
}
.pp_title .title:after {
    right: 0;
}