#innerContent{
    min-height: 100vh;
}

h1{
    font-size: xx-large;
}

h2{
    font-size: x-large;
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}

h3{
    font-size: x-large;

    padding-bottom: 0.25em;

    /*線の種類（二重線）太さ 色*/
    border-bottom: double 5px #FFC778;

    margin-top: 2.5em;
    margin-bottom: 0.8em;
}

h4{
    font-size: x-large;
    margin-top: 1.25em;
    margin-bottom: 1em;
}

p{
    font-size: large;
    margin-top: 1em;
    margin-bottom: 1em;
}

#innerConent ul{
    list-style: disc;
    padding-left: 40px;
}

.url{
    font-size: 1.2em;
}

.url:link{
    color: #0000EE;
    text-decoration: underline;
}

.url:visited {
    color: #0099FF;
    text-decoration: underline;
}

.url:active {
    color: #FF0000;
    text-decoration: underline;
}

.contentsList {
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.contentsList div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    background-color: #3A894B;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
}

.contentsList ol {
    list-style-type: disc;
    margin: 0;
    overflow: hidden;
}

.contentsList > ol {
    padding: 1em 1em 1em 3em;
}

.contentsList ol ol {
    margin-top: 0.5em;
    padding-left: 1.1em;
}

.contentsList li {
    padding: 0.5em 0;
    font-weight: 600;
}

.contentsList ol ol li {
    font-weight: 500;
    font-size: .9em;
}

.contentsList a {
    color: #333;
    text-decoration: none;
}

.code-frame{
    margin: 1em 0 1em;
    
}

pre {
    display: block;
    padding: 0.8em 1em 0em 1em;/* 内側の余白 */
    border-radius: 0.5em;
    background: #1d2020;/* 背景色 */
    color: #54687c;/* 文字色 */

    overflow-x: scroll;     /* 横方向にスクロール可能にする */
}

code {
    display: block;
    min-width: 100%;
    padding: 0.2em 0.3em ;/* 内側の余白 */
    margin: 0 0.2em;/* 外側の余白 */
    border-radius: 5px;/* 角の丸み */
    background: #1d2020;/* 背景色 */
    color: #fff;/* 文字色 */
    font-size: 0.9em;/* 文字サイズ */
    }