#articleList{
    margin: 40px 0 40px;
}

#posts li a{
    height: 100%;
    display: block;
    border-radius: 10px;
    border: 3px solid #3A894B;  
    margin-top: 20px;
    padding: 15px 20px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
}

/* マウスオーバーした際に背景を暗くする */
.post:hover {
    background-color :#dbdbdb;
}

#posts li .date{
    font-size: 16px;
}

#posts li a h1{
    font-size: large;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 任意の行数を指定 */
}

@media (max-width: 480px) {
    #posts li a h1{
        font-size: 16px;
    }
}